.navbar-container {
    padding: 10px 40px;
    position: relative;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.navbar-left .navbar-logo {
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

.navbar-logo-image {
    width: 90px;
    height: auto;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.navbar-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.navbar-icon span {
    margin-left: 5px;
    font-size: 14px;
}

.navbar-search-box {
    position: absolute;
    top: 80px;
    right: 35px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    width: 300px;
    border-radius: 5px;
}

.navbar-search-input {
    width: 100%;
    border: none;
    outline: none;
}

.navbar-search-icon {
    cursor: pointer;
    font-size: 20px;
}

.navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.navbar-bottom .navbar-menu-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navbar-menu-list li {
    white-space: nowrap;

}

.navbar-menu-list li a {
    text-decoration: none;
    color: black;
}

.navbar-bottom-icons {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
}

.navbar-bottom-icons .navbar-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.mobile-menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 0px 12px;
    display: none;
    transform: translateX(-100%);
}

.mobile-menu-list.show {
    display: block;
    animation: slideIn 0.4s forwards;
}

.mobile-menu-list.hide {
    animation: slideOut 0.4s forwards;
}

.mobile-menu-list ul {
    list-style: none;
    padding: 20px;
}

.mobile-menu-list li {
    padding: 15px 0;
}

.mobile-menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.mobile-menu-list li a:hover {
    color: #5d90ed;
}

.mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}


@media (max-width: 1200px) {
    .navbar-right {
        flex-direction: row;
        align-items: center;
    }


    .navbar-logo-image {
        width: 80px;
        height: auto;
    }

    .navbar-icons {
        flex-direction: row;
        align-items: center;
    }

    .navbar-icon span {
        display: none;
    }

    .navbar-search-icon {
        order: 1;
        margin-left: 0;
    }

    .navbar-icons .navbar-icon {
        order: 0;
    }
}

@media (max-width : 768px) {
    .navbar-container {
        padding: 10px 25px;
    }

    .navbar-search-box {
        top: 70px;
        right: 20px;
        width: 250px;
        padding: 8px 12px;
    }

    .navbar-bottom .navbar-menu-list {
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    .navbar-container {
        padding: 20px 5px;
    }

    .navbar-logo-image {
        width: 70px;
        height: auto;
    }

    .navbar-top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .navbar-left {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger-icon {
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
    }

    .navbar-left .navbar-logo {
        font-size: 20px;
        margin: 0;
    }

    .navbar-right {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-right .navbar-icon:not(:nth-child(3)):not(:last-child) {
        display: none;
    }

    .navbar-search-box {
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 6px 12px;
    }

    .navbar-bottom-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: 1px solid #ddd;
        padding: 10px 0;
        z-index: 1000;
    }

    .navbar-bottom-icons .navbar-icon span {
        display: block;
        font-size: 12px;
        margin-top: 5px;
    }

    .navbar-bottom .navbar-menu-list {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
}

